services:
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=my_fleet_notes
    volumes:
      - db_vol:/var/lib/postgresql/data

volumes:
  db_vol:
